body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-family: sans-serif;
    background-color: rgb(42, 53, 66);
    border: 1px solid azure;
    border-radius: 20px;
    padding: 40px;
}
input{
    padding: 5px;
    border-radius: 4px;
}

#search, #delete {
    margin: 20px;
    padding: 4px;
    width: 100px;
    letter-spacing: 2px;
}

hr{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 0.2;
}

/**/
#boton{
    font-size: 2rem;
    padding: 20px;
}
ul{
    padding: 0;
    list-style: none;
}
li{
    border: 1px solid azure;
    padding: 15px 50px;
    text-align: center;
    font-size: 2rem;
    color: azure;
}

/**/
h2{
    margin: 1px;
    font-size: 1.8rem;
    color: azure;
}
#amigo{
    display: flex;
    font-size: 2rem;
    color: azure;
    border: 1px solid azure;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    min-width: 150px;
}

#success{
    font-style: italic;
    font-family: sans-serif;
    color: rgba(240, 255, 255, 0.212);
}
